{% extends 'base.html' %}

{% block content %}

<h3 style="width: 100%; display: flex; justify-content: center; align-items: center"> Have you ever wanted to have a website to keep track of your favorite snacks? </h3>
<h3 style="width: 100%; display: flex; justify-content: center; align-items: center"> Are you indecisive want to be able to keep updating how you feel about your existing snacks?? </h3>
<h3 style="width: 100%; display: flex; justify-content: center; align-items: center"> Maybe you just want to delete them all together!? </h3>
<h3 style="width: 100%; display: flex; justify-content: center; align-items: center"> Well don't fret! Cause Eden's Snacks has you covered! </h3>
<h4 style="width: 100%; display: flex; justify-content: center; align-items: center"> Here you can create, update, and delete your list of snacks on any given whim at any time! </h4>
<h4 style="width: 100%; display: flex; justify-content: center; align-items: center"> Navigate to the Snacks List to look at your existing snacks or click on Add a New Snack above! </h4>

{% endblock content %}